
@model GigHub.ViewModels.GigsDetailViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    @Model.Gig.Artist.Name

    @if (User.Identity.IsAuthenticated)
    {
        if (Model.IsFollowing)
        {
            <button data-artist-id="@Model.Gig.ArtistId" class="btn btn-primary btn-sm js-toggle-following">
                Following
            </button>
        }
        else
        {
            <button data-artist-id="@Model.Gig.ArtistId" class="btn btn-primary btn-sm js-toggle-following">
                Follow?
            </button>
        }

    }
</h2>
<p>
    Performing at @Model.Gig.Venue on @Model.Gig.DateTime.ToString("dd MMM") at @Model.Gig.DateTime.ToString("HH:mm")
</p>


@if (User.Identity.IsAuthenticated && Model.IsAttending)
{
    <p>You are going to this event.</p>
}


@section scripts
{
    <script>
        $(document).ready(function () {
            ArtistController.init();
        });
    </script>
}


